* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100vh;
  border-radius: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  background-color: #222;
}

.card {
  width: 800px;
  height: 500px;
  border-radius: 15px;
  background-color: #FFE153;
  position: relative;
  -webkit-box-shadow: 0 5px 5px black;
          box-shadow: 0 5px 5px black;
}

.card .moon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  top: 20%;
  left: 10%;
}

.card .moon.boxShadow {
  -webkit-box-shadow: inset -10px 0px #fff;
          box-shadow: inset -10px 0px #fff;
  -webkit-animation: moon1 5s both steps(10) infinite;
          animation: moon1 5s both steps(10) infinite;
}

@-webkit-keyframes moon1 {
  to {
    -webkit-box-shadow: inset -110px 0px #FFE153;
            box-shadow: inset -110px 0px #FFE153;
  }
}

@keyframes moon1 {
  to {
    -webkit-box-shadow: inset -110px 0px #FFE153;
            box-shadow: inset -110px 0px #FFE153;
  }
}

.card .moon-name {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 4rem;
  color: #fff;
}

.card .allstars {
  width: 100%;
  height: 100%;
  border-radius: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@-webkit-keyframes snowing {
  0%, 100% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  0% {
    -webkit-transform: translate(100px, 0);
            transform: translate(100px, 0);
  }
  100% {
    -webkit-transform: translate(0, 350px);
            transform: translate(0, 350px);
  }
}

@keyframes snowing {
  0%, 100% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  0% {
    -webkit-transform: translate(100px, 0);
            transform: translate(100px, 0);
  }
  100% {
    -webkit-transform: translate(0, 350px);
            transform: translate(0, 350px);
  }
}

.card .allstars .star1 {
  width: 5px;
  height: 10px;
  border-radius: 50%;
  background-color: #10810d;
  position: absolute;
  top: 20.81803%;
  left: 244.88419px;
  -webkit-animation-name: snowing;
          animation-name: snowing;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 6.09404s;
          animation-duration: 6.09404s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.card .allstars .star2 {
  width: 5px;
  height: 10px;
  border-radius: 50%;
  background-color: #561c24;
  position: absolute;
  top: 20.22988%;
  left: 52.39945px;
  -webkit-animation-name: snowing;
          animation-name: snowing;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 7.0802s;
          animation-duration: 7.0802s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.card .allstars .star3 {
  width: 5px;
  height: 10px;
  border-radius: 50%;
  background-color: #fa7699;
  position: absolute;
  top: 17.82091%;
  left: 288.18963px;
  -webkit-animation-name: snowing;
          animation-name: snowing;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 4.87664s;
          animation-duration: 4.87664s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.card .allstars .star4 {
  width: 5px;
  height: 10px;
  border-radius: 50%;
  background-color: #c392f3;
  position: absolute;
  top: 10.60259%;
  left: 352.93261px;
  -webkit-animation-name: snowing;
          animation-name: snowing;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 6.22332s;
          animation-duration: 6.22332s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.card .allstars .star5 {
  width: 5px;
  height: 10px;
  border-radius: 50%;
  background-color: #2fcbb2;
  position: absolute;
  top: 23.90176%;
  left: 220.95985px;
  -webkit-animation-name: snowing;
          animation-name: snowing;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 2.34556s;
          animation-duration: 2.34556s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.card .allstars .star6 {
  width: 5px;
  height: 10px;
  border-radius: 50%;
  background-color: #f63a62;
  position: absolute;
  top: 19.04126%;
  left: 159.40439px;
  -webkit-animation-name: snowing;
          animation-name: snowing;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 4.18032s;
          animation-duration: 4.18032s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.card .allstars .star7 {
  width: 5px;
  height: 10px;
  border-radius: 50%;
  background-color: #8f17b0;
  position: absolute;
  top: 6.11593%;
  left: 181.10077px;
  -webkit-animation-name: snowing;
          animation-name: snowing;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 1.95027s;
          animation-duration: 1.95027s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.card .allstars .star8 {
  width: 5px;
  height: 10px;
  border-radius: 50%;
  background-color: #647cec;
  position: absolute;
  top: 14.66783%;
  left: 307.39874px;
  -webkit-animation-name: snowing;
          animation-name: snowing;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 4.77058s;
          animation-duration: 4.77058s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.card .allstars .star9 {
  width: 5px;
  height: 10px;
  border-radius: 50%;
  background-color: #d7926a;
  position: absolute;
  top: 28.42702%;
  left: 459.88305px;
  -webkit-animation-name: snowing;
          animation-name: snowing;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 6.34773s;
          animation-duration: 6.34773s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.card .allstars .star10 {
  width: 5px;
  height: 10px;
  border-radius: 50%;
  background-color: #5b9d45;
  position: absolute;
  top: 6.72611%;
  left: 133.82786px;
  -webkit-animation-name: snowing;
          animation-name: snowing;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 7.62154s;
          animation-duration: 7.62154s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.card .allstars .star11 {
  width: 5px;
  height: 10px;
  border-radius: 50%;
  background-color: #44469b;
  position: absolute;
  top: 28.98612%;
  left: 302.90749px;
  -webkit-animation-name: snowing;
          animation-name: snowing;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 2.42747s;
          animation-duration: 2.42747s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.card .allstars .star12 {
  width: 5px;
  height: 10px;
  border-radius: 50%;
  background-color: #1f6309;
  position: absolute;
  top: 0.36202%;
  left: 410.85553px;
  -webkit-animation-name: snowing;
          animation-name: snowing;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 7.68994s;
          animation-duration: 7.68994s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.card .allstars .star13 {
  width: 5px;
  height: 10px;
  border-radius: 50%;
  background-color: #07cb79;
  position: absolute;
  top: 22.63854%;
  left: 49.51236px;
  -webkit-animation-name: snowing;
          animation-name: snowing;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 0.52622s;
          animation-duration: 0.52622s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.card .allstars .star14 {
  width: 5px;
  height: 10px;
  border-radius: 50%;
  background-color: #99f02a;
  position: absolute;
  top: 25.05516%;
  left: 50.11613px;
  -webkit-animation-name: snowing;
          animation-name: snowing;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 4.62651s;
          animation-duration: 4.62651s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.card .allstars .star15 {
  width: 5px;
  height: 10px;
  border-radius: 50%;
  background-color: #e563dd;
  position: absolute;
  top: 9.30955%;
  left: 545.38772px;
  -webkit-animation-name: snowing;
          animation-name: snowing;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 5.9407s;
          animation-duration: 5.9407s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.card .allstars .star16 {
  width: 5px;
  height: 10px;
  border-radius: 50%;
  background-color: #bd09cf;
  position: absolute;
  top: 22.63248%;
  left: 338.10844px;
  -webkit-animation-name: snowing;
          animation-name: snowing;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 1.17736s;
          animation-duration: 1.17736s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.card .allstars .star17 {
  width: 5px;
  height: 10px;
  border-radius: 50%;
  background-color: #d3221b;
  position: absolute;
  top: 2.08844%;
  left: 260.61728px;
  -webkit-animation-name: snowing;
          animation-name: snowing;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 5.0228s;
          animation-duration: 5.0228s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.card .allstars .star18 {
  width: 5px;
  height: 10px;
  border-radius: 50%;
  background-color: #670cf9;
  position: absolute;
  top: 15.77281%;
  left: 594.73483px;
  -webkit-animation-name: snowing;
          animation-name: snowing;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 2.21049s;
          animation-duration: 2.21049s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.card .allstars .star19 {
  width: 5px;
  height: 10px;
  border-radius: 50%;
  background-color: #386223;
  position: absolute;
  top: 1.56961%;
  left: 40.3346px;
  -webkit-animation-name: snowing;
          animation-name: snowing;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 4.37447s;
          animation-duration: 4.37447s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.card .allstars .star20 {
  width: 5px;
  height: 10px;
  border-radius: 50%;
  background-color: #5901ff;
  position: absolute;
  top: 12.78473%;
  left: 385.04582px;
  -webkit-animation-name: snowing;
          animation-name: snowing;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 8.21804s;
          animation-duration: 8.21804s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.card .allstars .star21 {
  width: 5px;
  height: 10px;
  border-radius: 50%;
  background-color: #b074e4;
  position: absolute;
  top: 18.37899%;
  left: 502.87665px;
  -webkit-animation-name: snowing;
          animation-name: snowing;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 2.63468s;
          animation-duration: 2.63468s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.card .allstars .star22 {
  width: 5px;
  height: 10px;
  border-radius: 50%;
  background-color: #c1e94c;
  position: absolute;
  top: 4.50756%;
  left: 355.95701px;
  -webkit-animation-name: snowing;
          animation-name: snowing;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 3.26921s;
          animation-duration: 3.26921s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.card .allstars .star23 {
  width: 5px;
  height: 10px;
  border-radius: 50%;
  background-color: #cd0366;
  position: absolute;
  top: 3.56423%;
  left: 296.08331px;
  -webkit-animation-name: snowing;
          animation-name: snowing;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 0.62996s;
          animation-duration: 0.62996s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.card .allstars .star24 {
  width: 5px;
  height: 10px;
  border-radius: 50%;
  background-color: #c57c0a;
  position: absolute;
  top: 2.30921%;
  left: 234.56317px;
  -webkit-animation-name: snowing;
          animation-name: snowing;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 1.44718s;
          animation-duration: 1.44718s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.card .allstars .star25 {
  width: 5px;
  height: 10px;
  border-radius: 50%;
  background-color: #f4ea36;
  position: absolute;
  top: 15.38569%;
  left: 390.02239px;
  -webkit-animation-name: snowing;
          animation-name: snowing;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 9.89423s;
          animation-duration: 9.89423s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.card .allstars .star26 {
  width: 5px;
  height: 10px;
  border-radius: 50%;
  background-color: #717a8b;
  position: absolute;
  top: 1.60597%;
  left: 303.24318px;
  -webkit-animation-name: snowing;
          animation-name: snowing;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 5.08964s;
          animation-duration: 5.08964s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.card .allstars .star27 {
  width: 5px;
  height: 10px;
  border-radius: 50%;
  background-color: #e45549;
  position: absolute;
  top: 7.02064%;
  left: 270.90303px;
  -webkit-animation-name: snowing;
          animation-name: snowing;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 1.37353s;
          animation-duration: 1.37353s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.card .allstars .star28 {
  width: 5px;
  height: 10px;
  border-radius: 50%;
  background-color: #c7ae98;
  position: absolute;
  top: 2.67018%;
  left: 217.62137px;
  -webkit-animation-name: snowing;
          animation-name: snowing;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 5.43255s;
          animation-duration: 5.43255s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.card .allstars .star29 {
  width: 5px;
  height: 10px;
  border-radius: 50%;
  background-color: #f2d6af;
  position: absolute;
  top: 1.4902%;
  left: 544.76329px;
  -webkit-animation-name: snowing;
          animation-name: snowing;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 0.07758s;
          animation-duration: 0.07758s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.card .allstars .star30 {
  width: 5px;
  height: 10px;
  border-radius: 50%;
  background-color: #c7c6cc;
  position: absolute;
  top: 23.78153%;
  left: 557.71743px;
  -webkit-animation-name: snowing;
          animation-name: snowing;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 8.2671s;
          animation-duration: 8.2671s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
/*# sourceMappingURL=mooncard.css.map */